buildscript {
	repositories {
		jcenter()
	}
	dependencies {
		classpath 'io.spring.gradle:dependency-management-plugin:0.6.0.RELEASE'
	}
}

apply plugin: 'io.spring.dependency-management'

dependencyManagement {
	imports {
		mavenBom "io.spring.platform:platform-bom:${projectVersion}"
	}
}

repositories {
	mavenLocal()
	maven { url 'http://download.osgeo.org/webdav/geotools' }
	maven { url 'http://repo.spring.io/libs-snapshot' }
	maven { url 'http://jaspersoft.artifactoryonline.com/jaspersoft/third-party-ce-artifacts' }
	mavenCentral()
}

configurations {
	compile
}

task('resolveDependencies') << {
	configurations.compile.resolve()
}

dependencies {