buildscript {
	repositories {
		jcenter()
	}
	dependencies {
		classpath 'io.spring.gradle:dependency-management-plugin:1.0.3.RELEASE'
	}
}

apply plugin: 'io.spring.dependency-management'

dependencyManagement {
	imports {
		mavenBom "io.spring.platform:platform-bom:TEST"
	}
}

repositories {
	mavenCentral()
	flatDir { dirs '../dependency' }
	maven { url 'http://repo.spring.io/libs-snapshot' }
}

configurations {
	compile
}

task('resolveDependencies') {
	doLast {
		configurations.compile.resolve()
	}
}

dependencies {