	</dependencies>
	<repositories>
		<!-- Required for GemFire and Boot snapshots -->
		<repository>
			<id>spring-snapshots</id>
			<name>Spring Snapshots repository</name>
			<url>http://repo.spring.io/libs-snapshot</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
		<!-- Required for various Neo4J-related dependencies -->
		<repository>
			<id>opengeo</id>
			<name>OpenGeo</name>
			<url>http://repo.opengeo.org</url>
		</repository>
		<!-- Required for various JasperReports-related dependencies -->
		<repository>
			<id>jasper-reports</id>
			<name>Jasper Reports</name>
			<url>http://jaspersoft.artifactoryonline.com/jaspersoft/third-party-ce-artifacts</url>
		</repository>
	</repositories>

</project>