	</dependencies>
	<repositories>
		<repository>
			<id>platform-maven-test-spring-libs-snapshot</id>
			<name>Spring Snapshots repository</name>
			<url>http://repo.spring.io/libs-snapshot</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>platform-maven-test-jasper-reports</id>
			<name>Jasper Reports</name>
			<url>http://jaspersoft.artifactoryonline.com/jaspersoft/third-party-ce-artifacts</url>
		</repository>
		<repository>
			<id>neo4j-snapshots</id>
			<url>http://m2.neo4j.org/content/repositories/snapshots</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>platform-maven-test-oss-sonatype-snapshot</id>
			<url>https://oss.sonatype.org/content/repositories/snapshots</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
	</repositories>

</project>