	</dependencies>
	<repositories>
		<repository>
			<id>platform-maven-test-spring-libs-snapshot</id>
			<name>Spring Snapshots repository</name>
			<url>https://repo.spring.io/libs-snapshot</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
	</repositories>

</project>